.container{
background-color:#d7dbd8;
width:460px;
height:540px;
margin:auto;
padding:10px;
margin-top:100px;
}

.button{
width:80px;
height:40px;
margin:10px;
}

.button:hover{
border:5px solid greenyellow;

}

.first{
width:400px;
height:600px;
margin-bottom:200px;
margin-top:100px;
margin-left:100px;
background-color:lightblue;
padding:5px;
}




#screen{
height:40px;
width:400px;
margin:5px;
font-size:32px;
text-align:right;
}

.first form input{
border:0;
outline:0;
width:60px;
height:60px;
border-radius:10px;
margin:10px;
}


